@model InventoryProject.ViewModels.IndexViewModel

@{
    ViewBag.Title = "Index";
}

<h2 class="pageHeader">Index</h2>

<div >
    <ul id="selectType">
        <li class="selectInventoryType" id="selectIngredient"><a href='@Url.Action("IngredientList", "Home")'>Ingredients</a></li>
        <li class="selectInventoryType" id="selectRecipe"><a href='@Url.Action("RecipeList", "Home")'>Recipes</a></li>
    </ul>
</div>





@*@{Html.RenderPartial("_IngredientList", Model.IngredientList);}

@{Html.RenderPartial("_RecipeList", Model.RecipeList);}*@