html {
    height: 100%;
}

html body {
    text-align: center;
    background: none;
    display: block;
    background-image: url(../img/cellar3.png);
    min-height: 100%;
    background-position: center;
    }

.pageHeader {
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 2em;
    color: white;
    text-shadow: 1px 1px black;
    text-decoration: underline;
}

a:link {
    color: white;
    font-weight: bold;
    text-decoration: none;
    padding: 0;
    text-align: center;
    text-shadow: 1px 1px black;
}

a:visited {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #514848;
}

ul {
    padding: 0;
    margin: 0;
}

#selectType li {
    font-family: 'Gloria Hallelujah', cursive;
    text-decoration: none;
    margin-bottom: 10px;
    display: block;
    min-height: 50px;
    max-height: 200px;
    max-width: 400px;
    background-image: url("../img/paper.jpg");
    background-color: #f2a9a9;
    opacity: 0.6;
    border-radius: 15px;
    font-size: 1.5em;
    border: 3px solid black;
    text-align: center;
    list-style: none;
    display: block;
}

#selectType li a {
    display: block;
    color: white;
    padding: 10%;
}

#recipeListView, #ingredientListView, #ingredientDetailsView, #createIngredientView, #recipeDetailView {
    font-family: 'Gloria Hallelujah', cursive;
    background-image: url("../img/paper.jpg");
    background-size: cover;
    max-width: 900px;
    background-position: center;
    background-color: #dad5d5;
    border: 2px solid black;
    border-radius: 20px;
    margin: auto;
}

.form-horizontal {
    align-content: center;
}

.footers {
    font-family: 'Gloria Hallelujah', cursive;
    display: block;
    clear: both;
    color: white;
    font-size: .65em;
    margin: 10px 0 0 0;
}

.createNewButton {
    font-size: 1.5em;
    color: white;
    margin: 10px 0;
}

.col-md-10 {
    max-width: 70%;
    margin: 0 0 10px 0;
    padding: 0;
    align-content: center;
    border: none;
    margin: auto;
}

#editDeleteLinks {
    font-family: 'Gloria Hallelujah', cursive;
    padding: 0;
    vertical-align: middle;
}

tbody>tr>td.ingredientNameLinks {
    font-family: 'Gloria Hallelujah', cursive;
    padding: .2em;
    vertical-align: middle;
    border-top: none;
}

.backToInventoryButton {
    font-family: 'Gloria Hallelujah', cursive;
    margin: 15px 0 0 0;
}

